/* animation image css */
.hero_wave_height {
  padding-top: 15.08%;
}
.hero_wave {
  -webkit-mask-size: 100% 100%;
  -webkit-mask-clip: border-box;
  -webkit-mask-image: url("../images/webp/hero-sectionImg.webp");
  mask-size: 100% 100%;
  mask-clip: border-box;
  z-index: 1;
  max-width: 100%;
  margin-top: 1.46em;
  position: relative;
  left: 0;
  overflow: hidden;
}
.grad_bg {
  background-image: conic-gradient(
    #ff7fd8,
    #aa2aff 20%,
    #557cff 50%,
    #32d7ff 75%,
    #97fcff 100%
  );
  z-index: -1;
  filter: blur(20px);
  position: absolute;
  top: -364%;
  bottom: -364%;
  left: -200%;
  right: -200%;
  animation: gradient-bg 4s linear infinite;
}
@keyframes gradient-bg {
  100% {
    transform: translate3d(0px, 0px, 0px) rotate(360deg);
  }
}
/* ----------------- use media screen here ------------------- */
@media screen and (max-width: 479px) {
  .header__logo {
    width: 7.31rem;
  }
}
@media screen and (max-width: 991px) {
  .header__logo {
    margin-right: auto;
  }
}
* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

.animated_border {
  position: relative;
  width: 200px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  border-radius: 20px;
  margin: 20px 0px 0px 20px;
}
.animated_border::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 140%;
  background: linear-gradient(#00ccff, #d400d4) !important;
  animation: animate 4s linear infinite;
}
.animated_border::after {
  content: "";
  position: absolute;
  inset: 4px;
  background-color: #0e1538;
  border-radius: 16px;
}
@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.animated_border h2 {
  position: relative;
  color: white;
  font-size: 10em;
  z-index: 10;
}
